//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@layer payload-default {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

@media print {
  aside.nav {
    display: none;
  }
}

.editor {
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
}

:root {
  --theme-text-50: rgb(from var(--theme-text) r g b / 0.5);
  --theme-text-33: rgb(from var(--theme-text) r g b / 0.33);
}

.prose {
  --tw-prose-links: currentColor;
  --tw-prose-body: currentColor;
  --tw-prose-headings: currentColor;
}
